<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ListenerPort" value="14101"/>
  </appSettings>
    <connectionStrings>
      <add name="RUHSDS_ADT.Properties.Settings.connectionStr" connectionString="Data Source=IntegrationDB.rcrmc.local;Initial Catalog=HISDataStore_Test;Persist Security Info=True;User ID=HISDataStoreAppUser;Password=Hdsau#2016"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
