<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogFileName" value="HL7ListenerLog.xml" />
    <add key="FolderName" value="\HL7ListenerData\" />
    <add key="Port" value="14101" />
    <add key="StoredProcedureName" value="uspInsertHL7data"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LogHistoryLimit" value="1"/>
    <add key="ErrorHistroyLimit" value="48"/>
  </appSettings>
  <connectionStrings>
    <add name="HL7DatabaseConnection" connectionString="Data Source=IntegrationDB.rcrmc.local;Initial Catalog=HL7Data;Persist Security Info=True;User ID=HISDataStoreAppUser;Password=Hdsau#2016" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>